body{
    background-color: #F7DBA7;
    font-family: "Inter", sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: #251605;
    font-family: "Playfair Display", serif;
}

.about{
    display: flex;
    justify-content: space-between;
}

img {
    border: 3px groove white;
    margin: 2px;
    border-radius: 2px;
}