body{
    background-color: #F7DBA7;
    font-family: "Inter", sans-serif;
    margin: 10px;
}

h1, h2, h3 {
    text-align: center;
    color: #251605;
    font-family: "Playfair Display", serif;
}

.about{
    display: flex;
    justify-content: space-evenly;
}

img {
    border: 5px groove white;
    margin: 2px;
    border-radius: 5px;
}
.p {
    line-height: 70px;
    color: #C57B57;
    text-align: center;
}


